body{
	font-size: 16px;
	color:#444;
	font-family: 'Open Sans', sans-serif;
}

h3, h4 {
    font-size:17px; font-weight: bold;
}

h2{
  font-size:22px; font-weight: bold;
}
li{font-size: 16px;font-weight: 300;}
p{font-weight: 300; font-size: 16px}
/*Top & main Nav css start*/

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 30 30\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgba(255, 255, 255, 1)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 7h22M4 15h22M4 23h22\'/%3E%3C/svg%3E");
}
.top-navbar{
	background: #444;
	width: 100%;
	display: table;
}
.top-navbar ul{
	float: right;
}
.top-navbar ul li{
	float: left;
	color: #fff;
	font-size: 14px;
}
.top-navbar ul li:nth-child(2){
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
.top-navbar ul li a{
	color: #fff;
}
nav.navbar {
    background: #49a942 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    min-height: 64px;
    margin-bottom: 0px;
    padding: 0 1rem;
}
.navbar-brand {
    float: left;
    height: auto;
    line-height: 20px;
    padding: 5px 5px;
}
nav.navbar .navbar-nav > li > a {
    color: #fff !important;
    line-height: 20px;
    padding:25px 16px;
    font-size: 16px;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li:hover > a{
    background-color: #fff;
    color: #49a942 !important;
}

nav.navbar .navbar-nav > li.dropdown.show > a{
    background-color: #fff;
    color: #49a942 !important;
}

/*Slider Css Start*/
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        height:600px;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        line-height: 1;
 }
 .carousel-caption {
    left: 18%;
    padding-bottom: 71px;
    right: 18%;
    bottom: 30%;
}
.carousel-caption h1{
 	font-size: 42px;
 	font-weight: 700;
 	text-shadow: none;
 	margin-bottom:35px;
 }
.carousel-caption > a {
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 50px;
    text-shadow: none;
    transition: .5s ease;
}

.carousel-caption > a:hover {
	background:#fff;
	color:#444;
	text-decoration: none;
}

.carousel-control-next, .carousel-control-prev{
	width: auto;
}
.carousel-control-next{right: 15px;}
.carousel-control-prev{left: 15px;}

/*About Us Start*/
.left-about-text,
.right-about-text {
	display: inline-block;
	position: relative;
	width:79%;
  vertical-align: middle;
}
/*.our-mission{background:#f8f8f8;}*/
.joblocation{
  width: 100%;
  float: left;
  vertical-align: middle;
}
.left-about-text {
	width: 20%;
	font-size: 26px;
	line-height: 1;
	text-transform: uppercase;
}
.right-about-text {
	padding-left: 90px;
	line-height: 1.3;
}
.right-about-text:before {
	content: '';
  width: 2px;
  background: #49a942;
  height: 100%;
  display: inline-block;
  left: 46px;
  position: absolute;
}
/*About Us End*/

/*Industry solutions Section Start*/
.headline {
	position: relative;
	padding-bottom: 10px;
}
.headline:after {
	content: '';
  display: inline-block;
  width: 100px;
  height: 1px;
  position: absolute;
  background-color: #49a942;
  bottom:0;
  left: 0;
  right: 0;
  margin: auto;
}
.solution-list {
	margin-bottom: 40px;
}
.solution-list .thumbnail-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
    margin-bottom: 15px;
    position: relative;
}
.solution-list .thumbnail-img .readmore {
	position: absolute;
	background-color: #49a942;
	color: #fff;
	padding: 9px;
	bottom: 0;
	right: 0;
	text-decoration: none;
	cursor: pointer;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
}
.solution-list .thumbnail-img .readmore:hover {
	background-color: #2a6126;
}
.solution-list h4 {
	position: relative;
	padding-bottom: 12px;
	margin-bottom: 8px;
}
.solution-list h4::after {
	position: absolute;
	content: '';
	display: inline-block;
	height: 1px;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #49a942;
}
/*Industry solutions Section End*/

.bottom-section-wrap {
	background-color: #F8F6F8;
}
.bottom-section-wrap .padding-bottom-60{
	padding-bottom: 30px;
}

.bottom-section-wrap > .container {
	background-image: url('../images/bg2.png');
	background-size: cover;
}
.bottom-section-wrap li p {
    margin-bottom: 0;
}
.bottom-heading {
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 22px;
}

.bottom-section-wrap .case-study .company-name {
  font-weight: 600;
  margin-top: 3px;
   font-size: 15px;
}
.case-study li {
	margin-top: 22px;
}
.case-study li:nth-child(1) {
	margin-top: 0;
}

.product-list.text-left {
    padding-bottom: 20px;
}
.productlist-a {
    bottom: 0;
    color: #49a942;
    margin-top: 5px;
    position: absolute;
    right: 0;
    transition: all 0.3s ease 0s;
}
.green-link {
	margin-top: 5px;
	color: #49a942;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
}
.green-link:hover {
	text-decoration: none;
	color: #2a6126;
}

.casestudy-accordin .mb-0 a {
    color: #444;
}

.case-study {
    background: #f8f6f8;
    float: left;
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
}

.case-study h3 {
    color: #49a942;
    font-weight: 500;
}

.col-md-4.case-study{
	padding: 0
}


.footer {
	padding: 20px;
	background-color: #49a942;
	color: #ffffff;
	font-weight: 300;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: #444 none repeat scroll 0 0;
    border-color: #444;
}
.carousel-caption{top:50%; bottom:auto; padding:0; transform:translateY(-50%)}

/* END HOME PAGE CSS */
/* START LISTING PAGE CSS */

.headline.padding-bottom-20 {
    padding-bottom: 20px;
}

.page-title{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 180px;
}

.page-title p{
	color: #fff;
	font-weight: normal;
	text-shadow: 1px 0 4px rgba(0, 0, 0, 0.4);
}

.page-title h2 {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    padding-top: 65px;
    text-shadow: 1px 0 4px rgba(0, 0, 0, 0.4);
}
.product-list h2 {
    border-bottom: 1px solid #49a942;
    color: #fff;
    float: left;
    font-size:18px;
    width: 100%;
    font-weight: bold;
}
.product-list h2 span {
    background: #49a942 none repeat scroll 0 0;
    float: left;
    padding:6px 15px;
}

h2.about-heding  {
    border-bottom: 1px solid #49a942;
    color: #fff;
    float: left;
    width: 100%;
}

h2.about-heding span {
    background: #49a942 none repeat scroll 0 0;
    float: left;
    padding:10px 20px;
}

.product-list p {
    float: left;
    width: 100%;
}

.product-list a.viewall {
	color: #49a942;
	float:right;
	font-weight: 300;
}

.product-list li {
    background-image: url("../images/arrow.png");
    background-position: left 8px;
    background-repeat: no-repeat;
    font-weight: 300;
    padding-bottom: 10px;
    padding-left: 30px;
    vertical-align: top;
}

.bottom-section-wrap .case-study {
    margin-bottom: 0;
}

/*About US Start*/

.accessibility_aboutsection{
	background-color:#444;
	color: #ffffff;
}

.accessibility_aboutsection .headline::after {
    background-color: #fff;
}

.accessibility_aboutsection p{
	margin-bottom: 5px;
	font-weight:500;
}


.morethan_com{
	width: 100%;
	float: left;
}

.about_competition{
	font-weight: bold;
	padding-bottom:15px;
}

.morethan_com li {
    background-image: url("../images/arrow.png");
    background-position: left 8px;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    padding-left: 30px;
    vertical-align: top;
}


/*LOcation css start*/
h3.location-title {
	color: #49a942;
    border-bottom: 1px solid #ddd;
    float: left;
    padding-bottom: 10px;
    width: 100%;
}

.head-address-block{
    background: #f5f5f5 none repeat scroll 0 0;
    float: left;
    margin-bottom: 25px;
    margin-left: 2%;
    overflow-wrap: break-word;
    padding: 15px;
    width:48%;
}

.head-address-block > h4 {
    font-size:14px;
    font-weight: bold;
}
.head-address-block > p {
    font-size: 14px;
    margin: 0;
}
.head-address-block > a {
    font-size: 14px;
    line-height: 14px;
    color: #444;
}
.address-block {
	background: #f5f5f5;
	width: 100%;
	float: left;
	padding: 15px;
	margin-bottom:25px;
	overflow-wrap: break-word;
}

.address-block > h4 {
    font-size:14px;
    font-weight: bold;
}
.address-block > p {
    font-size: 14px;
    margin: 0;
}
.address-block > a {
    font-size: 14px;
    line-height: 14px;
    color: #444;
}

.supplier-listing ul li{
	font-size: 14px;
	font-weight: 300;
}

.supplier-listing li a {
    color: #444;
}

.supplier-listing ul{
	margin-bottom: 20px;
}

.supplier-listing ul li.heading{
	font-weight: bold;
}

h3.supplier-heading {
	color: #49a942;
    border-bottom: 1px solid #ddd;
    float: left;
    padding-bottom: 10px;
    width: 100%;
}



.twoColumn li{
    background-image: url("../images/arrow.png");
    background-position: left 8px;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    padding-left: 30px;
    vertical-align: top;
}

.current-job-col {
    background:#f2f2f2;
    float: left;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.current-job-col > a {
    color: #444;
    float: left;
    padding: 15px;
    width: 100%;
}

.current-job-col a span {
    float: left;
    font-size: 14px;
    font-style: italic;
    width: 100%;
}

.current-job-col > a:hover, .current-job-col > a:focus {
    background: #28a745 none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}

.current-job-col h3 a:hover {
	text-decoration: none;
}

.styled-select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  
  overflow: hidden;
  position: relative;
}
.styled-select, .styled-select select { width:100%}
select:focus { outline: none; }
.styled-select select {
  height: 34px;
  padding: 5px 0 5px 5px;
  background: transparent;
  border: none;
  
  /*hide default down arrow in webkit */
  -webkit-appearance: none; 
}

@-moz-document url-prefix(){
 .styled-select select {
    opacity: 0;
    width: 100%;
}
}

.fa-sort-desc {
  position: absolute;
  top:7px;
  right: 12px;
  font-size: 24px;
}

 select::-ms-expand { display: none; } /* hide default down arrow in IE10*/

/* hack to fall back in opera */
_:-o-prefocus, .selector {
  .styled-select { background: none; }
  }
 
/* Portrait tablet to landscape and desktop */

 @media (max-width: 1023px) {
	.case-study:first-child .bottom-heading{ margin-top:0px;}
	.bottom-section-wrap .padding-top-60{ padding-top:40px;}
	.bottom-section-wrap .padding-bottom-60{ padding-bottom:40px;}

 }

@media (max-width: 768px) {
.left-about-text {
    width: 25%;
}
.right-about-text {
    width: 73%;
}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.carousel-caption{ left:15%; right:15%;}	
	.carousel-caption h1{ font-size:35px;}
	.left-about-text{ width:100%; padding:0; margin:0 0 25px 0; text-align:left!important;float: left }
	.right-about-text{ width:100%; padding:0}
	.right-about-text::before{ display:none;}
	.bottom-heading{ margin-top:50px;}
	.left-about-text{font-size:22px; text-align: center !important; padding-bottom: 15px;}
	.left-about-text:after {
    background-color: #49a942;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 1px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 100px;
}
.headline{font-size:18px}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{height:400px}
.product-list h2 span {
    font-size: 16px;
}
.current-job-col {
		text-align: center;
	}
.technical-sale-col {
		max-width: 100%;
}
.col-md-4.case-study {
    padding:15px;
}
.bottom-heading {
    margin-top: 34px;
    margin-bottom: 10px;
}
.d-none {
    display: block !important;
}
.career_acc{
  text-align: left !important
}

.bottom-heading.cb-heading {
    margin-top: 52px;
}
	
}
@media (max-width:640px) { 
	.accessibility_aboutsection a {
	    margin-bottom: 10px;
      margin-top: 10px;
	}
.product-list p {
    min-height: 100px;
    padding-bottom: 0;
}

.joblocation span{
  float: left !important;
  width: 100%; 
}

.carousel-caption > a {
    padding: 1px 10px;
    font-size: 14px;
  }
.carousel-caption h1 {
    font-size:17px;
    font-weight: 600;
    margin-bottom:10px;
}
.head-address-block{
  width: 100%;
  margin-left:0;
}

.sendresume {
    float: left;
    width: 100%;
}

}
@media (max-width:360px) { 
.career-or {
    display: none;
}
}
/* Landscape phones and down */
@media (max-width: 320px) { 

	.carousel-caption{ left:15%; right:15%;}	
  .carousel-caption > a {
    padding: 1px 10px;
    font-size:12px;
  }
.carousel-caption h1 {
    font-size:14px;
    font-weight: 600;
    margin-bottom:10px;
}

}	
	
