
.navbar-nav .dropdown-menu{
	min-width:100%;
	
	border:0;
} 
.dropdown-menu > li.kopie > a {
    padding-left:5px;
}
 
.dropdown-submenu {
    position:relative;
}
.dropdown-menu{   -webkit-border-radius:0;-moz-border-radius:0;border-radius:0; margin:0;}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0;-moz-border-radius:0;border-radius:0;
 }
.dropdown-menu > li > a{padding:8px 15px}
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu a:hover, .dropdown-menu a:hover {
    background: #f5f5f5 none repeat scroll 0 0;
    color: #444;
    text-decoration: none;
}
 @media (max-width:990px) { 
  nav.navbar .navbar-nav > li {
    border-left: medium none;
}
 nav.navbar .navbar-nav > li > a {
    padding:10px 15px !important;
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li:hover > a, .navbar .navbar-nav > li a.active {
    background-color: transparent;
    border-bottom: 3px solid transparent;
    color: #fff;
}

nav.navbar{
  display: block;
   min-height: 40px;
}

 nav.navbar .navbar-nav > li > a {
    padding:10px 10px !important;
}


}

@media (max-width:768px) {


  
  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color:#fff;
    background-color: #444;
    border-radius:0;
    margin-top: 1px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #444; background:#fff; border-radius:0
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
     color: #fff; background:#444; text-decoration:none; border:0
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
@media (max-width:767px) {
.navbar-brand {
    float: left;
    line-height: 20px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    width: 100%;
}

.topnav{
    justify-content: center;
    text-align: center;
}
.topnav ul {
    float: none;
    margin: 0 auto;
}

.footer{
  padding:10px 0 20px;
}

.sitemap{
  display: none;
}
.productionser{
  display: none;
}
.smartsupply{
  display: none;
}
.innovaenter{
  display: none;
}

.footertop_link .li_title {
    padding-top:10px;
    padding-bottom: 0
}

}
 
@media (min-width: 768px) {
  ul.nav li:hover > .dropdown-menu {
border-radius:0;padding:0
  }
  #navbar {
    text-align: center;
  }
}  
@media (max-width: 767px) {
.navbar-nav .open .dropdown-menu {border:0; }
.navbar-collapse{padding:0}

.navbar-nav .open .dropdown-menu{background:#fff; padding:0; border:0}
.navbar-nav {
    margin: 0;
}
.navbar-default .navbar-collapse{padding:10px 0}

}
@media (max-width:320px) {
.topnav ul {
    padding: 10px 0;
}
.top-navbar ul li {
    padding: 0 2px;
}
}

