nav a#pull{display:none;}
/*Styles for screen 600px and lower*/
@media screen and (max-width: 700px) {
nav a#pull {
	display:block;
}	

}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {

	

	nav a#pull {
		display: block;	
		width: 100%;
		position: relative;
		color:#fff;
		text-decoration:none;
	}
	nav a#pull:after {
		content:"";
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

nav a#pull{border-radius:5px; width:35px; height:30px; background:#fab511; margin-top:12px; margin-left:10px; box-sizing: border-box; padding:8px; float:right; margin-right:2px;}
nav a#pull span{background:#fff; display: block; float: left; height: 2px;margin:0 0 4px 0 ; width: 90%;}